* {
  box-sizing: border-box;
  margin: 0;
  border: 0;
}

body {
  background-color: #e5e5e5;
}
/*Navigation */
li,
a.signedInLinks,
button {
  font-weight: 500;
  font-size: 15px;
  text-decoration: none;
  color: black;
}

header.signedIn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #fff;
  box-shadow: 5px 5px 5px 3px rgba(0, 0, 0, 0.1);
}

.navlinks {
  list-style: none;
}

.navlinks li {
  display: inline-block;
  margin-left: 45px;
}

.navlinks li a:hover {
  color: #f9b03e;
}
.blackbutton {
  background-color: #282d32;
  color: #fff;
  font-size: 12px;
  padding: 5px 10px;
  border-radius: 5px;
  width: 130px;
  margin-right: 120px;
}

.profileinfo {
  display: inline-block;
  border: 0.5px solid rgba(0, 0, 0, 0.2);
  color: black;
  font-size: 12px;
  border-radius: 10px;
  width: 12%;
  position: relative;
  height: 30px;
  text-align: left;
  border-radius: 15px;
}

.profilepic {
  position: absolute;
  width: 28px;
  height: 28px;
  left: 70%;
  top: 35%;
  margin-top: -10px;
}

.profilename {
  font-size: 12px;
  left: 5px;
}
/*Dashboard */
.streamgraph {
  height: 350px;
  width: 700px;
  background-color: white;
  margin-left: 35px;
  margin-top: 50px;
  border-radius: 5px;
  box-shadow: 5px 5px 5px 3px rgba(0, 0, 0, 0.1);
}
.toprow {
  display: flex;
  justify-content: space-between;
}

.piechart {
  height: 350px;
  width: 500px;
  background-color: white;
  margin-left: 35px;
  margin-top: 50px;
  border-radius: 5px;
  box-shadow: 5px 5px 5px 3px rgba(0, 0, 0, 0.1);
  margin-right: 30px;
}

.secondrow {
  display: flex;
  justify-content: space-between;
}

.stats {
  display: flex;
  justify-content: space-between;
  height: 120px;
  width: 350px;
  background-color: white;
  margin-left: 35px;
  margin-top: 50px;
  border-radius: 5px;
  box-shadow: 5px 5px 5px 3px rgba(0, 0, 0, 0.1);
  margin-right: 35px;
}

.stats h1 {
  font-size: 30px;
  margin-left: 15px;
  margin-top: 30px;
}

.stats p {
  font-size: 12px;
  margin-left: 15px;
}

.statsicons {
  margin-right: 30px;
  position: relative;
  height: 30px;
  margin-top: 30px;
}
.bottomrow {
  display: flex;
  justify-content: space-between;
}
.topdownloads {
  height: 350px;
  width: 500px;
  background-color: white;
  margin-left: 35px;
  margin-top: 50px;
  border-radius: 5px;
  box-shadow: 5px 5px 5px 3px rgba(0, 0, 0, 0.1);
  margin-right: 30px;
  margin-bottom: 50px;
}

/* Login Page */

.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 0px;
}

/* Control the left side */
.left {
  left: 0;
  background: linear-gradient(
      0deg,
      rgba(21, 21, 15, 0.5),
      rgba(21, 21, 15, 0.3)
    ),
    url(/images/loginimage.png);
}

/* Control the right side */
.right {
  right: 0;
  background-color: white;
}

h1.mainheader {
  margin-left: 20px;
  font-size: 18px;
  margin-top: 30px;
}
h1.header {
  margin-left: 20px;
  font-size: 20px;
  margin-top: 50px;
  font-weight: 300;
  position: relative;
  display: inline-block;
}
h1.header:after {
  border-bottom: 4px solid #f9b03e;
  transform: translateX(-40%);
  width: 250%;
  position: absolute;
  content: "";
  bottom: -15px;
}
nav {
  height: 50px;
  width: 100%;
  margin-top: 0;
  color: #f9b03e;
}

nav,
img {
  margin-right: 120px;
}
/* If you want the content centered horizontally and vertically */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: left;
}
.logoposition {
  margin-left: 25px;
  margin-top: 15px;
}

.loginbox {
  width: 500px;
  height: 420px;
  color: #fff;
  box-sizing: border-box;
  padding: 60px 30px;
  border-radius: 10px;
}

h2 {
  margin: 0;
  padding: 10px 0 20px;
  text-align: center;
  font-size: 10px;
}

.loginbox p {
  margin: 0;
  padding: 0;
  font-weight: bold;
}

.loginbox input {
  width: 100%;
  margin-bottom: 20px;
  border: none;
  border-bottom: 0.2px solid rgba(112, 112, 112, 0.8);
  background: transparent;
  outline: none;
  height: 40px;
  color: black;
}

.loginbox button {
  margin-top: 10px;
  width: 30%;
  margin-left: 0;
  margin-bottom: 20px;
  border-radius: 5px;
  border: none;
  outline: none;
  height: 35px;
  background: #f9b03e;
  font-size: 18px;
  color: #fff;
}

button.facebook {
  height: 35px;
  width: 27%;
  border-radius: 5px;
  background: #3b5998;
  color: #fff;
  margin-left: 27px;
  font-size: 9px;
}

button > img,
button > span {
  vertical-align: middle;
}

button.google {
  height: 35px;
  width: 27%;
  border-radius: 5px;
  background: #f8fafc;
  color: #000;
  margin-left: 25px;
  font-size: 9px;
  box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.2);
}
.loginbox button:hover {
  cursor: pointer;
  color: #fff;
  background: #fb621e;
}

.loginbox a {
  text-decoration: none;
  font-size: 12px;
  line-height: 20px;
  color: darkgray;
  float: right;
  margin-top: 5px;
}

.loginbox a:hover {
  color: #f9b03e;
}

input[type="text"]:not(.browser-default):focus:not([readonly]) {
  border-color: #f9b03e;
  box-shadow: none;
}

/* Sign Up Page*/

h1.mainheaders {
  margin-left: 70px;
  font-size: 18px;
  margin-top: 30px;
}

.login-html {
  width: 100%;
  height: 100%;
  position: absolute;
  padding: 70px 70px 0px 70px;
}
.login-html .sign-in-htm,
.login-html .sign-up-htm {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  transform: rotateY(180deg);
  backface-visibility: hidden;
  transition: all 0.4s linear;
}
.login-html .sign-in,
.login-html .sign-up,
.login-form .group .check {
  display: none;
}

.login-form .group .label,
.login-form .group .button {
  text-transform: uppercase;
}
.login-html .tab {
  font-size: 22px;
  margin-right: 15px;
  padding-bottom: 5px;
  margin: 0 15px 10px 0;
  display: inline-block;
  border-bottom: 2px solid transparent;
}
.login-html .sign-in:checked + .tab,
.login-html .sign-up:checked + .tab {
  color: #000;
  border-color: #f9b03e;
  font-size: 18px;
}
.login-html .sign-in + .tab,
.login-html .sign-up + .tab {
  color: rgba(112, 112, 112, 0.5);
  font-size: 16px;
}

.login-html .sign-in + .tab .superscript,
.login-html .sign-up + .tab .superscript {
  color: white;
  font-size: 1px;
}

.login-html .sign-in:checked + .tab .superscript,
.login-html .sign-up:checked + .tab .superscript {
  color: #000;
  font-size: 9px;
  background-color: #d8d8d8;
  margin-left: 5px;
}
.login-form {
  min-height: 345px;
  position: relative;
  perspective: 1000px;
  transform-style: preserve-3d;
}
.login-form .group {
  margin-bottom: 15px;
}
.login-form .group .label,
.login-form .group .input,
.login-form .group .button {
  width: 100%;
  color: #fff;
  display: block;
}
.login-form .group .input,
.login-form .group .button {
  width: 100%;
  margin-bottom: 0px;
  border: none;
  border-bottom: 1px solid rgba(112, 112, 112, 0.2);
  background: transparent;
  outline: none;
  height: 40px;
  color: black;
}
.login-form .group input[data-type="password"] {
  -webkit-text-security: circle;
}
.login-form .group .label {
  color: #aaa;
  font-size: 11px;
}
.login-form .group .button {
  margin-top: 40px;
  width: 30%;
  margin-left: 0;
  margin-bottom: 20px;
  border-radius: 5px;
  border: none;
  outline: none;
  height: 35px;
  background: #f9b03e;
  font-size: 18px;
  color: #fff;
}
.login-form .group label .icon {
  width: 15px;
  height: 15px;
  border-radius: 2px;
  position: relative;
  display: inline-block;
  background: rgba(255, 255, 255, 0.1);
}
.login-form .group label .icon:before,
.login-form .group label .icon:after {
  content: "";
  width: 10px;
  height: 2px;
  background: #fff;
  position: absolute;
  transition: all 0.2s ease-in-out 0s;
}
.login-form .group label .icon:before {
  left: 3px;
  width: 5px;
  bottom: 6px;
  transform: scale(0) rotate(0);
}
.login-form .group label .icon:after {
  top: 6px;
  right: 0;
  transform: scale(0) rotate(0);
}
.login-form .group .check:checked + label {
  color: rgba(112, 112, 112, 0.5);
}
.login-form .group .check:checked + label .icon {
  background: #f9b03e;
}
.login-form .group .check:checked + label .icon:before {
  transform: scale(1) rotate(45deg);
}
.login-form .group .check:checked + label .icon:after {
  transform: scale(1) rotate(-45deg);
}
.login-html
  .sign-in:checked
  + .tab
  + .sign-up
  + .tab
  + .login-form
  .sign-in-htm {
  transform: rotate(0);
}
.login-html .sign-up:checked + .tab + .login-form .sign-up-htm {
  transform: rotate(0);
}

.hr {
  height: 2px;
  margin: 60px 0 50px 0;
  background: rgba(255, 255, 255, 0.2);
}
.foot-lnk {
  text-align: center;
}

.login-form .group .check {
  font-size: 5px;
}

/* Landing Page */
.landingpgone {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)),
    url(/images/bgimage-landingpg.png);
  background-repeat: no-repeat;
}
.full {
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 1;
  top: 0;
  padding-top: 0px;
}
.full button {
  margin-top: 10px;
  width: 15%;
  margin-left: 80px;
  margin-bottom: 50px;
  border-radius: 5px;
  border: none;
  outline: none;
  height: 35px;
  background: #f9b03e;
  font-size: 18px;
  color: #fff;
  font-size: 16px;
}

button.getStarted {
  margin-top: 30px;
  width: 15%;
  margin-left: 80px;
  margin-bottom: 170px;
  border-radius: 5px;
  border: none;
  outline: none;
  height: 35px;
  background: #f9b03e;
  font-size: 18px;
  color: #fff;
  font-size: 16px;
}

.maincontent {
  color: white;
  margin-left: 90px;
  margin-top: 150px;
}

.mainsectionlist,
li {
  color: white;
  margin-left: 35px;
  margin-top: 10px;
  padding-top: 5px;
}
header.signedOut {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: transparent;
}

.signedOut nav {
  height: 50px;
  width: 100%;
  margin-top: 0;
  color: #f9b03e;
}

li.signedOutLinks,
a {
  font-weight: 500;
  font-size: 15px;
  text-decoration: none;
  color: white;
}

button.noColor {
  background-color: transparent;
  margin-right: 0px;
}
button.color {
  margin-left: 5px;
}

.partners {
  padding: 60px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  overflow-x: hidden;
  background-color: #fff;
  align-items: center;
}

h1.sectionthree {
  text-align: center;
  padding: 30px 30px 0px 30px;
}
p.sectionthree {
  text-align: center;
  padding: 20px 230px 0px 230px;
}

button.getStartedMiddle {
  margin-top: 30px;
  width: 15%;
  margin-left: 40%;
  margin-bottom: 70px;
  border-radius: 5px;
  border: none;
  outline: none;
  height: 35px;
  background: #f9b03e;
  font-size: 18px;
  color: #fff;
  font-size: 16px;
}
