* {
  box-sizing: border-box;
  margin: 0;
  border: 0;
}

body {
  background-color: #e5e5e5;
}
/*Navigation */
li,
a,
button {
  font-weight: 500;
  font-size: 15px;
  text-decoration: none;
  color: black;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #fff;
}

.navlinks {
  list-style: none;
}

.navlinks li {
  display: inline-block;
  margin-left: 45px;
}

.navlinks li a:hover {
  color: #f9b03e;
}
.blackbutton {
  background-color: #282d32;
  color: #fff;
  font-size: 12px;
  padding: 7px 20px;
  border-radius: 10px;
}

.profileinfo {
  display: inline-block;
  border: 0.5px solid rgba(0, 0, 0, 0.2);
  color: black;
  font-size: 12px;
  border-radius: 10px;
  width: 8%;
  position: relative;
  height: 30px;
  text-align: left;
  border-radius: 15px;
}

.profilepic {
  position: absolute;
  width: 28px;
  height: 28px;
  left: 70%;
  top: 35%;
  margin-top: -10px;
}

.profilename {
  font-size: 12px;
  left: 5px;
}
/*Dashboard */
.streamgraph {
  height: 350px;
  width: 700px;
  background-color: white;
  margin-left: 35px;
  margin-top: 50px;
  border-radius: 5px;
  box-shadow: 5px 5px 5px 3px rgba(0, 0, 0, 0.1);
}
.toprow {
  display: flex;
  justify-content: space-between;
}

.piechart {
  height: 350px;
  width: 500px;
  background-color: white;
  margin-left: 35px;
  margin-top: 50px;
  border-radius: 5px;
  box-shadow: 5px 5px 5px 3px rgba(0, 0, 0, 0.1);
  margin-right: 30px;
}

.secondrow {
  display: flex;
  justify-content: space-between;
}

.stats {
  display: flex;
  justify-content: space-between;
  height: 120px;
  width: 350px;
  background-color: white;
  margin-left: 35px;
  margin-top: 50px;
  border-radius: 5px;
  box-shadow: 5px 5px 5px 3px rgba(0, 0, 0, 0.1);
  margin-right: 35px;
}

.stats h1 {
  font-size: 30px;
  margin-left: 15px;
  margin-top: 30px;
}

.stats p {
  font-size: 12px;
  margin-left: 15px;
}

.statsicons {
  margin-right: 30px;
  position: relative;
  height: 30px;
  margin-top: 30px;
}
.bottomrow {
  display: flex;
  justify-content: space-between;
}
.topdownloads {
  height: 350px;
  width: 500px;
  background-color: white;
  margin-left: 35px;
  margin-top: 50px;
  border-radius: 5px;
  box-shadow: 5px 5px 5px 3px rgba(0, 0, 0, 0.1);
  margin-right: 30px;
  margin-bottom: 50px;
}

/* Login Page */

.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 0px;
}

/* Control the left side */
.left {
  left: 0;
  background: linear-gradient(
      0deg,
      rgba(21, 21, 15, 0.5),
      rgba(21, 21, 15, 0.3)
    ),
    url(/images/loginimage.png);
}

/* Control the right side */
.right {
  right: 0;
  background-color: white;
}

h1.mainheader {
  margin-left: 20px;
  font-size: 18px;
  margin-top: 30px;
}
h1.header {
  margin-left: 20px;
  font-size: 20px;
  margin-top: 50px;
  font-weight: 300;
  position: relative;
  display: inline-block;
}
h1.header:after {
  border-bottom: 4px solid #f9b03e;
  transform: translateX(-40%);
  width: 250%;
  position: absolute;
  content: "";
  bottom: -15px;
}
nav {
  box-shadow: 5px 5px 5px 3px rgba(0, 0, 0, 0.1);
  height: 50px;
  width: 100%;
  margin-top: 0;
  padding: 15px;
  color: #f9b03e;
}

nav,
img {
  margin-right: 10px;
}
/* If you want the content centered horizontally and vertically */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: left;
}
.logoposition {
  margin-left: 25px;
  margin-top: 15px;
}

.loginbox {
  width: 500px;
  height: 420px;
  color: #fff;
  box-sizing: border-box;
  padding: 60px 30px;
  border-radius: 10px;
}

h2 {
  margin: 0;
  padding: 10px 0 20px;
  text-align: center;
  font-size: 10px;
}

.loginbox p {
  margin: 0;
  padding: 0;
  font-weight: bold;
}

.loginbox input {
  width: 100%;
  margin-bottom: 20px;
  border: none;
  border-bottom: 1px solid #707070;
  background: transparent;
  outline: none;
  height: 40px;
  color: black;
}

.loginbox button {
  margin-top: 10px;
  width: 30%;
  margin-left: 0;
  margin-bottom: 20px;
  border-radius: 5px;
  border: none;
  outline: none;
  height: 35px;
  background: #f9b03e;
  font-size: 18px;
  color: #fff;
}

button.facebook {
  height: 35px;
  width: 27%;
  border-radius: 5px;
  background: #3b5998;
  color: #fff;
  margin-left: 27px;
  font-size: 9px;
}

button > img,
button > span {
  vertical-align: middle;
}

button.google {
  height: 35px;
  width: 27%;
  border-radius: 5px;
  background: #f8fafc;
  color: #000;
  margin-left: 25px;
  font-size: 9px;
  box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.2);
}
.loginbox button:hover {
  cursor: pointer;
  color: #fff;
  background: #fb621e;
}

.loginbox a {
  text-decoration: none;
  font-size: 12px;
  line-height: 20px;
  color: darkgray;
}

.loginbox a:hover {
  color: #f9b03e;
}

input[type="text"]:not(.browser-default):focus:not([readonly]) {
  border-color: #f9b03e;
  box-shadow: none;
}
